html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.view {
    height: 50%;
    width: 50%;
}

a.student {
    text-decoration: none;
    color: darkblue;
}